<form action="" class="js-edit-note-form b-note-form">
    <input type="hidden" name="date" value="<%= date %>"/>
    <span class="b-note-form__close js-note-form-close">
        &times;
    </span>
    <div class="form-group">
        <label for="noteFormAdd_title">Заголовок</label>
        <input type="text" class="form-control" name="title" id="noteFormAdd_title" value="<%= title %>">
    </div>
    <div class="form-group">
        <label for="noteFormAdd_text">Текст</label>
        <textarea class="form-control" id="noteFormAdd_text" name="text" rows="3"><%= text %></textarea>
    </div>
    <button type="submit" class="btn btn-default">Редактировать заметку</button>
</form>